label{
  margin-right: 10px;
}
input{
  margin-right: 20px;
height: 30px;
text-align: center
}
.add-book{
  text-align: center;
}

h1 {
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
  font-size: 60px;
  color: black;
  font-family: 'Lobster', cursive;
}

input[type=submit] {
  font-size: 20px;
  margin-top: 30px;
  width: 130px;
  height: 40px;
  font-weight:bold;
}
